In [1]:
import pandas as pd
import numpy as np

In [2]:
#part 1, load the json file
swiftdf = pd.read_json('swift.json', lines=True)

In [3]:
#part 2, export to csv
swiftdf.to_csv('swift.csv', index=True)

In [4]:
#part 3, find the most popular shows by attendance
swiftdf[swiftdf['attendance']==swiftdf['attendance'].max()]

        date       city         venue  attendance     revenue
4 2023-03-31  Arlington  AT&T Stadium      105002  26702008.6
5 2023-04-01  Arlington  AT&T Stadium      105002  26702008.6
6 2023-04-02  Arlington  AT&T Stadium      105002  26702008.6

In [5]:
#part 4, total revenue from her tour
swiftdf['revenue'].sum()

1143297452.3000002

In [7]:
#part 5, find the top 5 cities by revenue
#making a revenue df 
revenuedf = swiftdf.groupby('city').sum('revenue')
#sort the revenue dataframe by revenue and get the head of this new df
revenuedf.sort_values(['revenue'],ascending=[False]).head()
#this also gives us the total attendance, but it is sorted for revenue

                 attendance      revenue
city
Inglewood            544578  138486185.4
Arlington            315006   80106025.8
Nashville            299628   76195400.4
Foxborough           299628   76195400.4
East Rutherford      266286   67716529.8

In [28]:
#averaged out how many attended her show in Houston TX, and assume that she has a similar audiance attandence to the average from those shows
#swiftdf.groupby('city').mean('attendance')
#swiftdf[swiftdf['city']=='Houston']
Swift_in_Houston = swiftdf[swiftdf['city']=='Houston']
length = len(Swift_in_Houston)
Houston_Attendance=Swift_in_Houston.groupby('city').mean('attendance')
#mutiplied by the length of the Swift_in_Houston dataframe, add one more show, then divide by the number of shows in Texas thus far
Houston_Attendance = Houston_Attendance*length+1/length
print(Houston_Attendance)
#space for peace of mind

            attendance       revenue
city
Houston  263949.333333  6.712223e+07